p{
  font-family: arial;
  margin-top: 0;
  margin-bottom: 10px;
}
.us{
  font-size: 30px;
  color: black;
  font-weight: 20;
}
.s{
  color: rgb(114, 120, 126);
  font-size: 16px;
}
.inc{
  font-size: 15px;
  color: rgb(3, 168, 33);
  font-weight: 20;
}
.hr{
  font-size: 15px;
  color: rgb(114, 120, 126);
  font-weight: 20;
}
.sp{
  color: rgb(210, 95, 0);
}