/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

/* Body */
body {
    background-color: #f4f4f4;
    color: #000000;
}
h3{
    font-size: 30px;
}
h2{
    font-size: 35px;
}

/* Header */
header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 40px 30px;
    font-size: x-large;
}

/* Navigation */
nav {
    background-color: #444;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 25px;
}

nav a:hover {
    color: #00bcd4;
}

/* Sections */
section {
    padding: 40px 20px;
    max-width: 1500px;
    margin: auto;
}
p{
    font-size: 30px;
}

section h2 {
    margin-bottom: 20px;
    color: #222;
}

/* Skills */
ul {
    list-style-type: square;
    margin-left: 20px;
}

/* Projects */
.project {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #00bcd4;
    box-shadow: 0px 0px 10px 0px rgb(127, 127, 127);
}

/* Contact */
#contact p {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
